<h1>Bievenue sur votre première application <strong>Angular</strong></h1>

<div class="informations">
  <p>Pour démarrer la partie Front (Le projet Angular) : <strong><code><pre>ng server</pre></code></strong></p>
  <p>Pour démarrer la partie Back (L' API-REST ) : <strong><code><pre>json-server --watch db.json</pre></code></strong></p>
</div>

<h4>Ressources de formations :</h4>
<ul>
  <li><a mat-button href="https://angular.io">Documentation Angular</a></li>
  <li><a mat-button href="https://angular.io/tutorial">Tutoriel officiel</a></li>
  <li><a mat-button href="https:/material.angular.io">Documentation Angular Material</a></li>
  <li><a mat-button href="http://www.typescriptlang.org/">Documentation Typescript</a></li>
  <li><a mat-button href="https://update.angular.io">Guide de migration pour réaliser un monter de version</a></li>
  <li><a mat-button href="https://angular-checklist.io">Checklist de bonne pratique à suivre lors de la création d'un projet</a></li>
  <li><a mat-button href="https://compodoc.app/">Générer une documentation technique avec notre projet</a></li>
  <li><a mat-button href="https://github.com/typicode/json-server">JSON-SERVER</a></li>
</ul>
<br>
<h4>Pour aller plus loins :</h4>
<ul>
  <li><a mat-button href="https://blog.angularindepth.com/container-components-with-angular-11e4200f8df">Découvrir le design pattern <strong>Model View Presenter</strong></a></li>
  <li><a mat-button href="https://medium.com/@simonb90/activer-d%C3%A9sactiver-des-routes-dynamiquement-avec-angular-5817c4276322">Gérer les droits d'accès sur les routes avec les <strong>Guards</strong></a></li>
  <li><a mat-button href="https://alligator.io/angular/httpclient-intro/">Le module HttpClient de Angular</a></li>
  <li><a mat-button href="https://alligator.io/angular/internationalization/">Gérer un système de traduction</a></li>
</ul>
<br>

